{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BCCALPTV</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
  </head>
  <body>
    <div class="header">
      <img src="{% static "bcca_logo.png" %}" alt="bcca logo">
    </div>

    <ul class="liszt">
      {% for item in content %}
      <li>
        <a href="/{{ item }}/"><button>{{ item }}</button></a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
